<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title>
</head>
<body style="font-family: Arial">
    <header style="color:blue; background:lightblue">
        <h1>Zdenek Rusek Kotva</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="views/cv.html">CV</a>
            <a href="views/contact.html">Contact me</a>
            <a href="views/fun.html">For fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Contact Me</h2>
        <form>
            <label for="name">Your name (required)</label><br>
            <input type="text" id="name" name="name" required><br>
            <label for="email">Your email</label><br>
            <input type="email" id="email" name="email"><br>
            <label for="comment">Your comment</label><br>
            <textarea id="comment" name="comment"></textarea><br>
            <input type="submit" value="Submit">
        </form>
        <table>
            <tr>
                <th>Contact Method</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Email</td>
                <td>zdenekrusekkotva@gmail.com</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>(803) 262-1435</td>
            </tr>
            <tr>
                <td>LinkedIn</td>
                <td><a href="https://www.linkedin.com/in/zdenek-rusek-kotva/">My LinkedIn Profile</a></td>
            </tr>
        </table>
    </div>
    <footer>
        © 2025 designed and coded by Zdenek Rusek Kotva
    </footer>
</body>
</html>