<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Zdenek Rusek Kotva">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Zdenek Rusek Kotva professional website">
    <title>Zdenek Rusek Kotva</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 id="webname">Zdenek Rusek Kotva</h1>
        <nav>
            <a href="../index.html">About</a>
            <a href="cv.html">Resume</a>
            <a href="fun.html">Play</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>
    <div class="main">
        <h2>Things I love to do for fun</h2>
        <ul>
            <li>Spending time with family</li>
            <li>Spending time with friends</li>
            <li>Playing video games</li>
            <li>Watching TV shows and movies</li>
            <li>Learning new programming languages</li>
        </ul>
    </div>
    <footer>
        © 2025 designed and coded by Zdenek Rusek Kotva
    </footer>
</body>
</html>