* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding: 5px;
    margin: 5px;
}

nav a {
    text-decoration: none;
    color: #92ad70;
    margin-right: 15px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #808080;
    color: #ffffff;
    width: fit-content;
}

tr:nth-child(even) {
    background-color: #D9D9D9;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}

input[type="submit"], #adviceButton {
    background-color: #92ad70;
    color: #ffffff;
    border: none;
    border-radius: 12px;
}

#showListButton {
    background-color: #D9D9D9;
    color: #000;
    border: none;
    border-radius: 12px;
}

/* #funList {
    display: none;
} */

#readMoreButton {
    background-color: #D9D9D9;
    color: #000;
    border: none;
    border-radius: 12px;
}

#fullBio {
    display: none;
}

#validationMessage {
    width: max-content;
    margin: auto;
}

.mainLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#item1, #item2, #item3, #item4 {
    flex: 1 1 40%;
    margin: 10px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.funIMG {
    border-radius: 100%;
    max-width: 100%;
    height: auto;
}

.container {
    border-radius: 10%;
    box-shadow: 0 4px 8px #000;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    width: 50%;
}

nav a:hover {
    color: #ffcc00;
    text-decoration: underline;
}

nav a.active {
    color: #ffcc00;
    font-weight: bold;
    border-bottom: 2px solid #ffcc00;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        color: #ffffff;
    }

    50% {
        transform: scale(1.05);
        color: #ffcc00;
    }

    100% {
        transform: scale(1);
        color: #ffffff;
    }
}

#webname {
    animation: pulse 3s infinite;
    background-color: #92ad70;
    display: inline-block;
}